<div id="loading" style="position: absolute; left: 50%; top: 50%; margin-left: -100px; margin-top: -50px; text-align: center; z-index: 99999;"></div>
<script>
	function showLoading() {
		$('#loading').html('<img src="/Images/loading.gif"/>');
	}

	function closeLoading() {
		$('#loading').html('');
	}
</script>
